body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../Images/blurredMountainBackground.jpg');
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #000;
}

label {
    font-size: xx-large;
}

input,
select {

    padding: 5px;
    margin: 50px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #125014;
    color: white;
    cursor: pointer;
}

.erreur {
    color: rgb(230, 193, 193);
    font-style: italic;
    font-size: small;
}

#resultat {
    text-align: center;
    font-size: x-large;
}